[2014-09-05 12:51] OleksandrKucherenko opened #2 "I try to use a different notation but it does not work..."
I try to make gradle configuration similar to other Code Quality tools.
Example:

task checkstyle(type: Checkstyle) {
  description = 'execute checkstyle tool on project source code'
  group = 'Code Quality'
}

task findbugs(type: FindBugs, dependsOn: ['assembleDebug']) {
  description = 'execute findbugs tool on project compiled code'
  group = 'Code Quality'
}

task pmd(type: Pmd) {
  descriptio

[2014-10-01 12:20] aaschmid opened #3 "cpd task is not executed if only subprojects apply 'java' plugin"
Because at least ```JavaBasePlugin``` is required to have a ```check``` task to which it could add as dependency ...

[2014-10-31 14:01] Nils-Ehmke opened #4 "Use sourcesets by default"
Similar to, for example, the pmd plugin, I would expect the cpd plugin to use the defined sourcesets (main + test) by default. The plugin doesn't do anything if I use it without setting "source".

[2014-10-31 14:03] Nils-Ehmke opened #5 "Generate report in the correct subdirectory"
The plugins for PMD, Checkstyle, and Findbugs generate their reports in subdirectories "pmd", "checkstyle," and "findbugs" under "build/reports" by default. Even the results from the JUnit tests are generated in" build/reports/tests". However, the cpd plugin generates the records directly under "reports". I would expect a folder "reports/cpd".

[2014-10-31 16:32] aaschmid opened #6 "Add an example for a multi-module build, and how to use gradle-cpd-plugin for the whole project"

[2014-11-01 11:11] Nils-Ehmke opened #7 "Generate two records"
As mentioned in #5, I would expect the plugin to generate two records: one for the main sources and one for the test sources. It should be possible to configure the source folders for both records (and the path to the test sources should behave as in  #4).

[2014-11-01 11:49] #6 closed, assigned to aaschmid

[2015-01-25 14:37] aaschmid commented on #2
Close due to no further response.

[2015-01-25 14:37] #2 closed

[2015-01-25 15:36] #5 closed

[2015-01-25 15:37] #4 closed

[2015-01-25 16:07] aaschmid commented on #7
HI @Nils-Ehmke, I am changing some parts of the plugin. After asking some colleagues, most of them would also prefer having one check for ```main``` and ```test``` sources. I am sorry, but this does not get fixed.

[2015-01-25 16:07] #7 closed

[2015-01-25 16:49] aaschmid commented on #3
TODO: document behavior for multi-module build if no ```JavaBasePlugin``` is applied

[2015-02-08 18:27] aaschmid commented on #3
added warning with tips to resolve problem because manipulating taskGraph is not possible (or at least I couldn't find out how)

[2015-02-08 18:27] #3 closed

[2015-02-12 16:51] jnadler opened #8 "NullPointerException in Multi-Module Build"
Thanks for putting this together, it's great!

We're trying to use it with a multi-module build.  Running "gradle cpdCheck" works fine and finds duplicate code across modules.

However other tasks at the root level like "gradle compileJava" now fail with an exception:

    java.lang.NullPointerException: Cannot get property 'project' on null object
	at de.aaschmid.gradle.plugins.cpd.CpdPlugin$_app

[2015-02-12 18:39] #8 closed

[2015-02-12 18:53] aaschmid commented on #8
Thanks @jnadler for the reporting of this bug. I have just released v0.3. It now just tasks some hours until it is syncronized with Maven central.

[2015-02-12 18:53] aaschmid opened #9 "Add integration tests"
maybe I can use some of the testfixtures from gradle (which are not exposed currently) ...

[2015-02-12 18:54] aaschmid opened #10 "Provided this plugin via bintray"
See https://plugins.gradle.org/submit

[2015-02-12 21:54] jnadler commented on #8
Thanks for fixing this, and so quickly!

[2015-02-16 21:09] aaschmid commented on #9
And move all tests in ```de.aaschmid.gradle.plugins.cpd.test.CpdAcceptanceTest``` to real integration tests instead of calling ```execute()```

[2015-04-13 00:22] sbonnick opened #11 "Missing CPD attributes"
Hi,

I've noticed this plugin only really supports the "encoding", "format" and "minimumtokencount". Do you have plans to add any additional attributes as defined on [cpd-usage](http://pmd.sourceforge.net/pmd-5.0.5/cpd-usage.html) page?

Specifically, I am most interested in "ignoreAnnotations" and "ignoreLiterals".

Thanks

[2015-04-13 09:15] aaschmid commented on #11
Hi @sbonnick,
yes, I can add these attributes. The only thing is, that I am not really sure if they work properly. May obervations are not very optimistic for these attributes. What are your observations?

Nevertheless, I will make them available asap.

Cheers,
Andreas

[2015-04-13 19:56] sbonnick commented on #11
Hi Andreas,

To be honest I haven't used these commands previously. My hope is that I
can use these commands to "ignore" matching of licence headers in source
code.

-Stewart

On Mon, Apr 13, 2015 at 5:15 AM, Andreas Schmid <notifications@github.com>
wrote:

[2015-04-19 11:54] aaschmid commented on #11
Good news, the parameters are working very well and I have almost finished the implementation on this ;-)

[2015-04-19 14:57] sbonnick commented on #11
Excellent news. I will give it a try once up on maven.

[2015-04-19 15:05] #11 closed

[2015-04-20 01:39] sbonnick commented on #11
Tried with latest 0.4 build, new features work great!

[2015-04-20 07:06] aaschmid commented on #11
Thanks, if you like, i would appretiate your voting on https://bintray.com/aaschmid/gradle-plugins/gradle-cpd-plugin/view :-)

[2015-04-23 20:04] #10 closed

[2015-08-20 13:38] gregory-ewing opened #12 "Missing CPD attributes"
Hello,

Would it be possible to integrate the "skipLexicalErrors" attribute into your plugin (No such property: skipLexicalErrors for class: de.aaschmid.gradle.plugins.cpd.Cpd_Decorated).

Thank you.

[2015-08-20 13:45] aaschmid commented on #12
Hi @gregory-ewing, yes of course. I just do not have so much time at the moment but I will do my best to fix it as soon as possible. Do you have any time constraints, though?

[2015-08-21 09:20] gregory-ewing commented on #12
Hi @aaschmid, thank you getting back to me so quickly. Regarding time constraints, ideally the end of the month. However, i will need it (no pressure) before the 14th September if possible.

Thanks, Greg.

[2015-08-22 17:33] aaschmid commented on #12
Hi @gregory-ewing, I have added two further attributes, see 58e281d. It would be nice if you could test the version before I create a new release (even if I have written automated tests).

You can do that by adding

[code]

to your Gradle build script.

[2015-08-25 08:13] gregory-ewing commented on #12
Hello @aaschmid, i have just carried out some preliminary tests with the "de.aaschmid.gradle.plugins:gradle-cpd-plugin:0.5-SNAPSHOT" version using both the skipDuplicateFiles and skipLexicalErrors attributes and it seems to work fine.
I will keep you posted once i have carried out further tests (tomorrow).

Thank you for your reactivity.
Regards.

[2015-08-26 12:27] TimvdLippe opened #13 "Plugin fails when encountering 't"
Running `./gradlew cpd` results in a

Which is a license.txt with line 182:

where the plugin fails when it encounters the `'t` of the `Don't`

[2015-08-26 16:44] aaschmid commented on #13
Hi @JeremybellEU,
you can either exclude ```*.txt``` files or wait some days for the new version which will support ```skipLexicalErrors``` (see #12).

Exclusion could be achieved by e.g.
[code]
as ```cpdCheck``` is a normal ```SourceTask``` (see https://docs.gradle.org/current/dsl/org.gradle.api.tasks.SourceTask.html)

[2015-08-26 16:49] JeremybellEU commented on #13
That would the given error for now, but will there be a fix for this problem in the future? Thanks in advance!

[2015-08-26 16:56] aaschmid commented on #13
Yes, the next version will implement the skipLexicalError option and I will release it soon.

[2015-08-28 08:32] gregory-ewing commented on #12
Hi @aaschmid, i have finished my tests (sorry for the delay) with the new plugin. This version works fine. You have my approval for the new version.
Regards.

[2015-08-30 20:00] aaschmid commented on #12
Great, thanks for the feedback. The new release is ready for use!

[2015-08-30 20:00] #12 closed

[2015-08-30 20:01] aaschmid commented on #13
The new version [v0.5](https://github.com/aaschmid/gradle-cpd-plugin/releases/tag/v0.5) is released which introduces the above mentioned options. Please try it and give me feedback, otherwise we can think about another solution. Thanks

[2015-09-02 16:30] JeremybellEU commented on #13
Hello @aaschmid

Sadly the issue is not resolved. My configuration:
[code]

Which still results in the above error.

[2015-09-02 17:56] aaschmid commented on #13
Hi @JeremybellEU,
hm ... that is strange as my tests worked out perfectly (if the ```apply pluing``` in your snippet is just a typo). The language, though, is by default ```java``` ... and what do you mean with "Line required to not cause any errors regarding cpd method not found". Can you prepare a simple reproducer and upload it to github that I am able to reproduce your problem?

I got the foll

[2016-03-03 10:26] ivansenic opened #14 "Incorrect warning about ':cpdCheck' not being added to task graph in multi-project setup"
Hi,

I have a multi project setup where I define the cpd/cpdCheck properties via subprojects {} in the project.root.gradle:

[code]

During the evaluation of the projects I get a warning from the cpd plugin that the cpdCheck task can not be added to the task graph due to the absence of the JavaBasePlugin. First of all,  java plugin is used in all projects. Second, the task is absolutely correctly

[2016-03-03 17:32] aaschmid commented on #14
Hi @ivansenic, hm ... this is very strange but hopefully I will have time during this or the next weekend to have a deeper look at it. As it is working, I hope this is sufficient for now. Otherwise, please let me know

[2016-03-19 19:28] aaschmid commented on #14
Unfortunately time is running and I have non for looking at this. Please be patient ...

[2016-04-06 20:15] aaschmid commented on #13
@TimvdLippe any news on that?

[2016-04-06 20:46] TimvdLippe commented on #13
Hey sorry for letting this unattended. The project in which I had to adopt this has already been completed and I did not continue to use this plugin. Therefore I can't fix the issue sadly.

[2016-04-06 21:34] aaschmid commented on #14
Hi @ivansenic, thanks for the patience.

First, what I missed in my previous comments. I would suggest applying the CPD plugin only to the root project. I will automatically add all the Java, Groovy, Scala and so on sources to it and check it over the complete code base. This should also prevent the warning if I am correct.

Second, can you provide me your ```settings.gradle``` also as my manually

[2016-04-06 21:45] aaschmid commented on #13
As I cannot reproduce and my test work fine, I will close this issue

[2016-04-06 21:45] #13 closed

[2016-04-06 22:19] aaschmid commented on #14
I also have no clue about your ```buildscript``` section.

On my machine the following works:

settings.gradle:

[code]

build.gradle:

[code]

Output:

[code]

Maybe I commented out to many lines in ```build.gradle``` ...

[2016-04-07 08:25] ivansenic commented on #14
Hi Andreas,

I updated yesterday my branch containing the problem I described. You can have a look on it here: https://github.com/ivansenic/inspectIT/tree/INSPECTIT-1811. I moved now all the apply plugins to the

[code]

Now when I execute the build from the root project the error message is not there. But when I try any of the sub-projects the error messages are still there. Can it be that the ch

[2016-04-07 09:27] ivansenic commented on #14
Still not working for me.. Maybe easiest is to pull my branch and check on your own.. Just go to any of the sub-projects and run the check task:

[code]

[2016-04-07 10:05] aaschmid commented on #14
Thanks for your replies. I will have a detailed look later.

But what I meant with my previous comments, is that the CPD task is by default meant to be applied just on the root project to check the entire source code for duplicates. This would solve your problem if that fits your goals because than the ```cpdCheck``` can only be executed for the entire source code.

[2016-04-07 10:10] aaschmid commented on #14
You btw. check the complete source code within all your subprojects without the warning. I think I have to adjust the documentation that every user can understand that ...

[2016-04-07 10:30] ivansenic commented on #14
Hi Andreas,

Ok so it works without the working if I just apply the plugin to the root project. Then I have (note the last line):

[code]

and it works without the warning. I think this is enough for me at this point :+1:

[2016-04-07 19:06] aaschmid commented on #14
Hi @ivansenic,

as you just apply it to the root project, you only need to configure it on the root project either and it will check all your source code of all your projects together to also find duplicates over module borders.

I created a fork of your project, adjusted it and created a pull request, see https://github.com/ivansenic/inspectIT/pull/3 :-)

Two further tips which I would change:

*

[2016-04-08 10:24] ivansenic commented on #14
Hi,

Thanks a lot.. I will your proposal..
Cheers..

[2016-06-05 19:04] #14 closed

[2016-06-05 19:06] aaschmid opened #15 "Travis-CI is very unstable or does not work entirely for this plugin"
If fixed, add

[code]

again to the README.md

[2016-06-15 06:25] JerryShea opened #16 "How to disable cpdCheck"
Hi, thanks for the plugin... It works well!

However, I can't get my use case to work. I want to run cpdCheck explicitly (e.g. gradle cpdCheck) but I don't want cpdCheck task to run when I run - for example - gradle build.
My cpdCheck stanza looks like this
[code]
but unfortunately the cpd_enabled variable always seems to be ignored - if I set it to false in gradle.properties or on the command lin

[2016-06-15 14:15] prestontim opened #17 "Plugin Broken in Gradle 2.14"
Related to https://discuss.gradle.org/t/gradle-2-14-breaks-plugins-using-consolerenderer/18045.

Build output follows...
[code]

[2016-06-15 15:30] aaschmid commented on #16
Hi @JerryShea, thanks for the request. I will try to fix it until the next weeks, however having a quick look, it is strange. Because normally every ```SourceTask``` has the ```enabled``` feature out of the box ...

[2016-06-19 11:05] #17 closed

[2016-06-19 11:47] aaschmid commented on #16
Hi @JerryShea, while looking deeper into this issue, I found out that the enabled is working fine. The problem though is that variables in Gradle are first interpreted as ```String```s. This means that
the ```String``` of ```cpd_enabled``` is interpreted as ```"true"``` or ```"false"```, respectively). According to [Groovy Truth](http://groovy-lang.org/semantics.html#Groovy-Truth) every non-empty

[2016-06-19 11:58] JerryShea commented on #16
Wow thanks Andreas. Apologies for wasting your time!
On 19 Jun 2016 9:47 pm, "Andreas Schmid" <notifications@github.com> wrote:

[2016-06-19 12:00] aaschmid commented on #16
No worries :-)
Please don't hesitate to contact me if you have any further issues.

I will close this issue.

[2016-06-19 12:00] #16 closed

[2016-06-19 12:13] aaschmid opened #19 "Change groupId to "de.aaschmid""
As you normally use the Gradle Plugin notation and therefore ```de.aaschmid.cpd``` this will only affect users using the old way of including plugins ...

Sorry, for any inconvenience!

[2016-06-19 12:17] #19 closed

[2016-06-19 16:05] #9 closed

[2016-06-19 16:08] aaschmid commented on #9
First created own testfixture see https://github.com/aaschmid/gradle-cpd-plugin/tree/integTest.%239. But as this was only incubating and Gradle brought out the Testkit, I skipped to using the Gradle testkit

[2016-06-19 16:15] aaschmid commented on #15
Seems to be fixed now. Added the build status again as well as the coverage status ...

[2016-06-19 16:15] #15 closed

[2016-06-19 18:40] r-tock commented on #19
I am having issues

[code]

[2016-06-19 20:40] aaschmid commented on #19
Unfortunately, the plugin seems not to be approved yet. Don't know how long this will take. Please be patient and use version 0.5 till it appears on https://plugins.gradle.org/search?term=cpd.

[2016-06-19 20:59] r-tock commented on #19
yeah, can't use 0.5 as we are not on gradle 2.14. Disabled cpd in our continuous builds until this is available.

[2016-06-19 21:26] aaschmid commented on #19
I will try to clarify as soon as possible ...

[2016-06-19 21:52] aaschmid commented on #19
@r-tock now it should work :-)
have fun using it

[2016-12-08 10:26] damianoneill opened #20 "Question regarding Multi project support"
Hi, first off I'm not an expert on gradle so apologies if this is gradle specific rather than the plugin specific.

I have a multiproject that is structured as follows

[code]

src has my top level build.gradle, it does not include any code.  The java projects exist below this level.

[code]

Because the JavaBasePlugin exists in my subprojects only, I have configured your plugin as follows.

[code

[2016-12-09 08:58] aaschmid commented on #20
Hi @damianoneill,

I have two questions:

* Does the CPD check gets executed if the `WARNING` appears?
* Is it urgent as currently my spare time is rather rare ...?

Cheers,
Andreas

[2016-12-09 14:33] damianoneill commented on #20
Hi Andreas, yes it does get executed.  No rush, thanks.

[2016-12-16 22:29] aaschmid commented on #20
Hi @damianoneill,

I could reproduce the issue somehow and could solve your problem by putting the

[code]
into
[code]
closure. The only thing I do not understand is how you get it running without the warning using `gradle build` and how the CPD check execute for you at all.

If this does not solve your problem, I would like to ask your for a small reproducer including the `settings.gradle` and ma

[2017-03-10 09:12] ChristianWulf opened #21 "Could not find property 'Cpd' on root project ..."
`tasks.withType(Cpd) `
does not work, because gradle does not seem to know the class Cpd.

[2017-03-11 20:13] aaschmid commented on #21
Hi @ChristianWulf, you need to either `import de.aaschmid.gradle.plugins.cpd.Cpd` or use

[code]

Does that solve your problem?

Cheers,
Andreas

[2017-03-13 13:52] ChristianWulf commented on #21
Yes, thanks. However, the source attribute is not accepted:
[code]

[2017-03-13 15:03] aaschmid commented on #21
Sorry, cannot reproduce. For me works the following `build.gradle`:

[code]

Now create the following source file as `Hello.java` and `Hello2.java`:

[code]

[2017-03-15 14:30] aaschmid commented on #21
Hi @ChristianWulf, has that helped?

[2017-03-15 16:22] ChristianWulf commented on #21
I have checked that the source attribute contains files within the 'src' folder only. That's great. Nevertheless, I get the following error:
[code]
As you can see, it tries to read files within the "test" folder.

[2017-03-15 16:32] aaschmid commented on #21
puh ... is the source code open source or available somewhere such that I can check it directly. Otherwise it get's quite hard to reproduce.

Can you at least past the relevant parts of your `build.gradle` here (all parts dealing with `CPD` somehow)?

What kind of project is it? For a Java / JVM project you can try

[code]

[2017-03-22 07:31] ChristianWulf commented on #21
Yes, you can use the stable branch of [https://github.com/kieker-monitoring/kieker](https://github.com/kieker-monitoring/kieker). At the root level, you can insert and test your proposed code snippets.

[2017-09-06 19:56] aaschmid commented on #21
Hi @ChristianWulf,

good things come to those who wait. I eventually fixed your problem by cloning your repo and try it out myself.  I created a pull request, see https://github.com/kieker-monitoring/kieker/pull/100. Any feedback welcome :-)

Cheers,
Andreas

[2017-09-06 19:57] #21 closed

[2017-09-06 19:58] aaschmid commented on #20
HI @damianoneill,

any news on this? Are you satisfied with the solution above or do you still have an issue?

Cheers,
Andreas

[2017-09-06 22:33] damianoneill commented on #20
Hi Andreas, sorry for the delay.  Unfortunately this didnt resolve the issue.  To add to above its worth pointing out that I define the plugin in a separate file.

[code]

and apply it from within the subprojects scope

[code]

[2017-09-08 13:33] damianoneill commented on #20
Hi Andreas, pulled out a skeleton to replicate the issue.  Attached.

[code]

works

[code]

will show the issue

[cpd.tar.gz](https://github.com/aaschmid/gradle-cpd-plugin/files/1288002/cpd.tar.gz)

[2017-09-09 17:39] aaschmid commented on #20
Hi @damianoneill,

thanks for the reproducer.

The problem is most likely how you apply the cpd plugin. I intended that is only applied once per project namely to the root project. Via `source` attribute you can configure what projects should be checked. The benefit of doing this is that you can find duplicates across all sub projects. If this is ok for you, I can enhance the example you provided

[2017-09-10 20:56] damianoneill commented on #20
Thanks Andreas that approach will work fine.  If you can enhance the example that would be great.  Feel free to use the reproducer any way you want.

[2017-09-26 19:29] aaschmid commented on #20
Hi @damianoneill,

I am not sure if all my changes work for you but with this patch applied to the reproducer I got it working as I would expect it:
[0001-changes-required-to-get-it-working-for-all-projects.patch.txt](https://github.com/aaschmid/gradle-cpd-plugin/files/1334697/0001-changes-required-to-get-it-working-for-all-projects.patch.txt)

I am not sure about the `skip_quality_check` ...

Doe

[2017-12-01 20:38] JLLeitschuh opened #22 "Lexical error when project contains Kotlin Code"
This plugin tries to feed in Kotlin source code into CPD when the project is a mixed Java/Kotlin project.

The plugin should ignore Kotlin source code.

[2017-12-01 20:56] JLLeitschuh commented on #22
This seems to resolve the problem (Gradle Kotlin DSL):
[code]

[2017-12-02 20:38] aaschmid commented on #22
Hi @JLLeitschuh,

thanks for your issue and one possible solution.
Is you Java code separated from your Kotlin source code? If yes, you should also be able to use `source = sourceSets.main.java` to only use CPD for Java source code. Does that help?

Cheers,
Andreas

[2017-12-04 15:30] JLLeitschuh commented on #22
Hi @aaschmid
I think that the gradle kotlin compiler plugin adds the `kotlin` source directory to the `sourceSets.main.java`. At least, that's what seems to be going on.

The Kotlin compiler allows you to have you kotlin source code in a separate `kotlin` directory or mix it with your java code in the `java` directory.

[2017-12-17 14:46] nicolaichuk opened #23 "PMD 6.0.0: Could not find matching constructor CPDConfiguration"
@aaschmid, please update for [pmd 6.0](https://pmd.github.io/pmd-6.0.0/pmd_release_notes.html)

[code]

old constructor is deprecated:
https://github.com/pmd/pmd/blob/pmd/5.8.x/pmd-core/src/main/java/net/sourceforge/pmd/cpd/CPDConfiguration.java#L139

and it is absent in new verison:

https://github.com/pmd/pmd/blob/master/pmd-core/src/main/java/net/sourceforge/pmd/cpd/CPDConfiguration.java#L136

[2017-12-17 17:20] #23 closed

[2017-12-18 20:49] aaschmid opened #25 "Add bintray plugin to build.gradle"
See https://github.com/bintray/gradle-bintray-plugin for documentation

[2018-01-18 11:00] gauravarora90 opened #26 "Any gradle command to start the detection ?"
I have configured it. But I am not sure, how it will start detecting the duplicate code. Any gradle command to start the detection process ?

[2018-01-19 07:03] aaschmid commented on #26
As I assume on your question that you haven't specified any dependencies like `analyze.dependsOn(cpdCheck)` you can directly call

[code]

to start the Copy-Paste-Detection.

Does that help?

Cheers,
Andreas

[2018-01-19 07:08] gauravarora90 commented on #26
Where to define this dependency ? in my gradle file itself, or any config file in the root level of my project ?

[2018-01-19 07:10] aaschmid commented on #26
Yes, you can put it into the `build.gradle` file of your project, where you also added the `cpd` plugin as described in https://github.com/aaschmid/gradle-cpd-plugin/blob/master/README.md

[2018-02-11 22:15] contrudar opened #27 "cpd can't handle the sign "`""
Hello, I have Java and Kotlin code in one project. Everything worked well until the kotlin line was added:
`DialogEntity.ID.`in`(dialogIdList))`
and i got this error
Lexical error in file path\List101Database.kt at line 51, column 50.  Encountered: "`" (96), after : ""

Can it be somehow fixed? thanks in advance

[2018-02-11 22:23] aaschmid commented on #27
Hi @contrudar,

unfortunately CPD cannot handle Kotlin syntax. Can you just exclude the Kotlin source files using
[code]

see also #22

[2018-02-11 22:34] contrudar commented on #27
thx

[2018-02-11 22:34] #27 closed

[2018-02-12 07:24] aaschmid commented on #22
As this is a CPD library issue, I will close it for now. If you have any ideas, don't hesitate to reopen it.

[2018-02-12 16:43] JLLeitschuh commented on #22
Sorry, the problem isn't that I have Kotlin code under the `src/java` directory. The problem is because the IntelliJ Kotlin Gradle plugin adds the `src/kotlin` directory to the Java Source Sets so the CPD plugin picks them up.

[2018-02-12 19:35] aaschmid commented on #22
hm ... still not really an issue of that plugin, isn't it?
Don't know why the kotlin plugin does mixup the java and kotlin source code in one `sourceSet`.

[2018-02-12 19:35] #22 closed

[2018-02-12 23:14] JLLeitschuh commented on #22
So that you could put Kotlin code in the Java directory or Java code in the Kotlin directory.

[2018-02-14 08:46] aaschmid commented on #22
Easier maybe but it feels a bit hacky and unclean ...
Thanks for your thoughts

[2018-04-10 19:40] nicolaichuk commented on #23
@aaschmid, thanks.

[2019-01-15 07:33] RocketRider opened #28 "UnsupportedOperationException with Gradle 5.1"
After upgrading my Android project to Gradle 5.1.1, I receive an UnsupportedOperationException in the cpdCheck Task.
Could you please take a look?

[code]

[2019-01-15 14:44] aaschmid commented on #28
I can reproduce the issue using 5.1.1 on https://github.com/TNG/junit-dataprovider

[2019-01-18 23:11] aaschmid commented on #28
I found a possible workaround by adding
[code]
to the corresponding projects.

@RocketRider can you try this for now while I am further looking for a proper solution?

[2019-01-18 23:11] #26 closed

[2019-01-18 23:12] #20 closed

[2019-01-18 23:13] aaschmid commented on #20
As there is no more response since a long time the issue might be fixed :-)
Otherwise don't hesitate to reopen it...

[2019-01-18 23:13] aaschmid commented on #26
As there is no more response since a long time the issue might be fixed :-)
Otherwise don't hesitate to reopen it...

[2019-01-21 09:46] RocketRider commented on #28
The workaround seems to work, Thanks :+1:

[2019-01-27 19:37] #28 closed

[2019-01-27 19:38] #25 closed

[2019-03-21 03:27] zenglian opened #33 "Cannot resolve external dependency net.sourceforge.pmd:pmd-dist:5.4.2 because no repositories are defined."
build.gradle
[code]
run `gradle cpdCheck`, got

[2019-03-21 03:55] zenglian commented on #33
only throw in root project, works in sub modules

[2019-03-21 03:55] #33 closed

[2019-03-26 13:59] LethiferousMoose opened #34 "Changing cpdCheck source seems to have no affect"
I've tried following your readme and I still cannot seem to make cpdCheck stop running on tests and scala.
This does not work:
[code]
This also does not work
[code]
If I turn on debug logging, I still see it "Tokenizing" tests and scala code. I'm also very confused why it is trying to read a changelog,md file located in my `src` directory.

[2019-03-26 14:05] LethiferousMoose commented on #34
My guess is it has to do with `CpdExecutor`, you create the `cpdCheck` task in `CpdPlugin`, then create the executor, which calls `getSource()` on the `cpdCheck` tasks, which makes a copy of the task sources, so now it's not possible to change the source associated with the `CpdExecutor`

[2019-03-26 18:09] aaschmid commented on #34
Hi @LethiferousMoose,

I am not sure by heart but I think this has something to do with how scala and java plugin integrates with another. I will dive deeper into it and give you feedback.

Meanwhile you can try
[code]
There is also an `include` method, see https://docs.gradle.org/current/javadoc/org/gradle/api/tasks/SourceTask.html.

Does that help you for now?

[2019-04-06 20:09] aaschmid commented on #34
@LethiferousMoose any news on this?

[2019-04-07 13:11] LethiferousMoose commented on #34
I haven't done any more with it. CPD was finding too many false positives on our code base and I decided against using it because it wasn't adding enough value to justify it.

[2019-04-08 10:42] aaschmid commented on #34
OK, thanks for the answer. I will close the issue but don't hesitate to reopen if it is still a problem :-)

[2019-04-08 10:42] #34 closed

[2019-04-17 07:55] aaschmid opened #36 "Fix deprecation warning "Internal API constructor TaskReportContainer(Class<T>, Task) has been deprecated""
Gradle v5.1 provides a new constructor `org.gradle.api.reporting.internal.TaskReportContainer#TaskReportContainer(java.lang.Class<? extends T>, org.gradle.api.Task, org.gradle.api.internal.CollectionCallbackActionDecorator)` which should be used in favor of old `org.gradle.api.reporting.internal.TaskReportContainer#TaskReportContainer(java.lang.Class<? extends T>, org.gradle.api.Task)`.

Solution:

[2019-04-21 16:27] isuPatches opened #37 "Not sure how to apply LifecycleBasePlugin"
Hey there, I'm having some trouble with the 1.3 version.  I have an Android library and don't understand how to fix this:

[code]

[2019-04-21 16:44] aaschmid commented on #37
This is indeed strange.

Reason: Until version 1.2 the `cpdCheck` was attached while `JavaBasePlugin` was applied. In 1.3 I attached that behavior to `LifecycleBasePlugin`. This should not change anything since `JavaBasePlugin` applies `BasePlugin` which applies `LifecycleBasePlugin` ...

@isuPatches: Thanks for reporting, just checked out your referenced project and can perfectly reproduce the be

[2019-04-21 17:09] aaschmid commented on #37
Good news @isuPatches: `cpdCheck` is executed even if the above mentioned warning is shown.

So this issues drills down to an incorrect warning. Do you agree?

[2019-04-21 17:22] isuPatches opened #38 "Comments not ignored when language is set to Kotlin"
Could use some help...when I change:

[code]

to:

[code]

Then comment blocks such as:

[code]

are labled as duplicate code.

[2019-04-21 17:23] isuPatches commented on #37
👍 Yes, that's the same behavior I'm seeing locally.  Thanks for the quick investigation!

[2019-04-21 17:41] aaschmid commented on #37
Found the reason: While switching to `TaskProvider` in order to configuration avoidance, I do no longer have the actual task and I am assuming that CPD plugin is always applied on the root project. Latter could be reasonable because Copy-Paste-Detection should be applied to the whole (main) source code.

[2019-04-21 18:43] aaschmid commented on #38
Analysis:
1) If I use language `java`, I will get a lexical error. And if I skip them as well (setting `skipLexicalErrors`) no duplications are found at all.
2) Create some `*.java` files containing duplicate comments still results in now duplicates.
3) Extending the files with some duplicate code, the duplicates are shown
(This is reproducable with the standalone version from https://pmd.github.i

[2019-04-21 19:48] aaschmid commented on #38
Please also note @isuPatches that pmd-kotlin is available since 6.10.0 such that not in 6.8.0 which is used in https://github.com/isuPatches/WiseFy/pull/121/files#diff-a64dfe2d629b6972b45671eb3a81a735. Using the 6.8.0 standalone, no results at all are produced setting the language to `kotlin`...

[2019-04-21 21:05] isuPatches commented on #38
Thank you!

[2019-04-21 21:19] #37 closed

[2019-04-21 21:28] aaschmid commented on #38
Still having some issues with ANTLR runtime ... cannot reproduce it. The thrown exception has the following cause:

[code]

@isuPatches can you try using my snapshot version on your machine by adding the following to your `buildscript` section:

[code]

I am looking forward to your feedback...

[2019-04-21 21:37] isuPatches commented on #38
With tool version set to `toolVersion = '6.13.0'`

I see this:

[code]

Without the tool version set I see:

'Could not detect CPD language for 'kotlin', using any language as fallback.'

[2019-04-22 07:11] aaschmid commented on #38
Very strange ... Just to be sure: using `toolVersion` no warning is shown, correct?
Thanks for testing @isuPatches. Can you also use Gradle without Daemon. Command line option is `--no-daemon`.

[2019-04-22 14:39] aaschmid commented on #38
Update: @isuPatches, you can also check the newest 1.4-SNAPSHOT version. It is still WIP but works properly on my machine with your code :-)

[2019-04-23 14:20] isuPatches commented on #38
Hey!  I took another look at this.

I've tried:

- Removing gradle caches
- Invalidate caches + restart from Android Studio
- Adding the `--no-daemon` flag to the command

It looks like comments are no longer being flagged as duplicate, so looks okay to me now!

Thank you.

[2019-04-26 08:31] aaschmid commented on #38
@isuPatches Thanks for testing and coming back.

May I ask you another favor to test version `2.0-SNAPSHOT`. I decided to bring all the new stuff with 2.0 as a lot of things changed internally...

[2019-04-27 13:46] isuPatches commented on #38
Sure!  I tried to pull it locally but am getting:

[code]

[2019-04-27 18:55] aaschmid commented on #38
Thanks for the reply. It seems that the first upload of version `2.0-SNAPSHOT` failed, after re-download I could successfully try it with my reproducer.

Could you try again?
(Sorry for the inconveniences)

[2019-04-28 03:31] isuPatches commented on #38
2.0-SNAPSHOT looks clear of the comment issue!  The only thing I'm seeing that's unexpected is:

[code]

I'm not sure if the SNAPSHOT includes the fix for that issue.

[2019-05-01 15:27] JLLeitschuh opened #39 "Plugin doesn't support projects that use both Kotlin and Java"
I have quite a few projects that are slowly being migrated from Java to Kotlin.
There doesn't seem to be a good way to support linting both Kotlin and Java since you can only specify one `language`.

[2019-05-02 08:02] aaschmid commented on #39
This is correct. Reason is that on `Cpd` task can only run one `langugage`. However, you can create multiple `Cpd` tasks with differently configured `language` and `source` attributes. An example will follow...

[2019-05-02 15:59] JLLeitschuh commented on #39
This is the snippet that I've been using utilizing the Gradle Kotlin DSL:

[code]

It would be nice if the plugin could detect mixed kotlin/java projects automatically and auto-generate the correct tasks for you.

[2019-05-03 18:18] aaschmid commented on #39
That looks good from first view. Does it work for you?
And let me think about your suggestion...

[2019-05-03 22:40] JLLeitschuh commented on #39
This does work well for me. I've embedded it in my own build.

🤔  Would be awesome!

[2019-05-10 18:58] #38 closed

[2019-08-16 09:15] SilverTiger opened #45 "java.lang.NoClassDefFoundError since Gradle 5.6"
The CPD-Plugin fails since upgrading to Gradle 5.6. Going back to Gradle 5.5.1 it works though.

Build output:
[code]

[2019-08-18 10:16] aaschmid commented on #45
I can reproduce the issue but need to further investigate.

[2019-08-18 13:23] aaschmid commented on #45
Unfortunately, I haven't understood why the error is arising now which leads to the assumption that Gradle has changed something internally while providing a new Worker API (see https://docs.gradle.org/5.6/release-notes.html#improvements-for-plugin-authors).

I will try to switch to the new API which needs some more time, though.

[2019-08-18 14:18] aaschmid commented on #45
Comparing Gradle 5.5.1 and 5.6 while debugging into `CpdExecutor` and analysing `Thread.currentThread().contextClassLoader`, it is very obvious that
* 5.5.1 has a `VisitableURLClassLoader(worker-loader)` with `ucp.path` (= `URLClassPath`) of all my added `pmd` classpath settings, whereas
* 5.6 has a `VisitableURLClassLoader(ClassLoaderScopeIdentifier.Id{root:injected-plugin(local)})` with `ucp.pat

[2019-09-06 10:13] aaschmid commented on #45
I'm working on it as much as I can which is honestly at the moment not very much @Aldentev. Sorry for not having better news for you. It is quite complex to understand and I fear to have to debug into Gradle Core and diff changes to understand how the logic has been changed...

[2019-10-20 14:29] gebart commented on #45
Did anyone test if changing `submit` to `noIsolation` here:
https://github.com/aaschmid/gradle-cpd-plugin/blob/07f9e3c48a82293795f374d36f1f7dd2af072cce/src/main/java/de/aaschmid/gradle/plugins/cpd/Cpd.java#L108-L112
fixes the problem?

I haven't tried it myself but I stumbled upon a note about it while reading [the update notes for Gradle 5.5 -> 5.6](https://docs.gradle.org/current/userguide/upgra

[2019-10-20 15:24] aaschmid commented on #45
I tried various different solutions including the @gebart suggested one but haven't had success yet. However had not a lot time since the issues was raised. Looking forward to be able to debug Gradles internals within the next couple of days in order to come up with a solution on this.

[2019-10-23 11:01] aaschmid commented on #45
@SilverTiger @gebart @Aldentev: Finally I got a working version. Still seems that the old and deprecated approach using `submit` does not work anymore. Fortunately, I got the new [worker API](https://docs.gradle.org/current/userguide/custom_tasks.html#worker_api) working, such that you can find a first "SNAPSHOT" version [here]().

You can try it using:
[code]

Feedback is very welcome, while I ha

[2019-10-23 20:15] aaschmid opened #46 "Incorporate "lineCountPerFile" property on CSV renderer"
https://github.com/pmd/pmd/blob/master/pmd-core/src/main/java/net/sourceforge/pmd/cpd/CSVRenderer.java -> "lineCountPerFile"

It is available since at least v6.10 with is current minimal supported version.

[2019-11-01 20:14] aaschmid opened #47 "Incorporation of "VS renderer""
see https://github.com/pmd/pmd/blob/master/pmd-core/src/main/java/net/sourceforge/pmd/cpd/VSRenderer.java

It is be available since at least v6.10 with is current minimal supported version.

[2019-11-11 10:06] RocketRider opened #48 "Not compatible with Gradle 6.0"
I upgraded to Gradle 6.0 and got an error while building:
I am using gradle-cpd-plugin:3.0.

[code]

[2019-11-11 11:54] aaschmid commented on #48
@RocketRider: Thanks for the feedback. I will have a look at it and will upgrade the supported versions once I have reproduced it.

[2019-11-12 09:41] danilovesky commented on #48
@aaschmid I am facing a similar issue with ``cpdCheck`` task when upgrading to Gradle 6.0. Would it help to create a sample ``gradle.build`` or have you managed to reproduce it?

[2019-11-12 14:41] aaschmid commented on #48
Thanks @danilovesky but can reproduce it.

[2019-11-12 20:13] aaschmid commented on #48
Issue has already been fixed with #36, but need to create a new version unfortunately...

[2019-11-13 06:58] RocketRider commented on #48
Thank you for your work!
With '3.1-SNAPSHOT' it works with gradle 6.0.

[2019-11-13 09:59] aaschmid commented on #48
Fixed with https://github.com/aaschmid/gradle-cpd-plugin/releases/tag/v3.1

[2019-11-13 09:59] #48 closed

[2019-11-13 09:59] aaschmid commented on #47
Fixed with https://github.com/aaschmid/gradle-cpd-plugin/releases/tag/v3.1

[2019-11-13 09:59] #47 closed

[2019-11-13 09:59] aaschmid commented on #46
Fixed with https://github.com/aaschmid/gradle-cpd-plugin/releases/tag/v3.1

[2019-11-13 09:59] #46 closed

[2019-11-13 09:59] aaschmid commented on #36
Fixed with https://github.com/aaschmid/gradle-cpd-plugin/releases/tag/v3.1

[2019-11-13 09:59] #36 closed

[2019-12-14 12:31] aaschmid commented on #39
Hi @JLLeitschuh, thought about it but unfortunately without any clear result. Only thing I can currently think of is to create a mapping and create `cpdCheck${LANG}` tasks for every recognized and available `LANG` applied by a known plugin...

I have no clue if a lot people use this plugin for multiple languages, however some kind of auto detection could be a nice improvement...

[2019-12-17 04:36] dtbwije opened #49 "Documentation clarification"
What is the LifecycleBasePlugin that is mentioned in the readme. Could not find it any where.

[2019-12-17 08:36] aaschmid commented on #49
It is the base plugin for almost every other plugin which the defines the basic lifecycle methods such as `clean`, `check`, `build`... See https://docs.gradle.org/current/javadoc/org/gradle/language/base/plugins/LifecycleBasePlugin.html

[2020-07-10 09:24] C-Otto opened #50 "CPD finds duplications in test fixtures despite source limitation"
I configured CPD for my multi-project Gradle 6.5.1 project. Some of these sub-projects make use of the java-test-fixtures plugin, which allows me to put Java files into `src/testFixtures/java`. Despite limiting the `source` as shown below, I get an CPD issue for code inside `src/testFixtures/java` (both files which are part of the issue are inside the same directory).

This happens with:
- source

[2020-07-12 06:50] aaschmid commented on #50
Hm, that sounds indeed very strange @C-Otto. Do you have a small reproducer? Is it urgent (just for my prioritization of things)?

[2020-07-12 14:44] C-Otto commented on #50
We won't be able to use CPD once we switched to Gradle, but that won't happen for a few weeks or so. Besides, we can live without CPD, although it's nice to have. So... not that urgent. I'll have a look at a reproducible case tomorrow.

[2020-07-14 08:18] realdadfish opened #51 "Ignoring multiline annotations is non-functional in Kotlin"
This is my configuration:

[code]

This is an example Android Room Annotation:

[code]

Still, when I analyze it with the plugin, I get

[code]

Could it be that multi-line annotations like the above one are not recognized by the option?

[2020-07-14 14:57] C-Otto commented on #50
https://github.com/C-Otto/cpdtestfixtures

Despite the name, this reproducer doesn't use test fixtures. It suffices to define a new source set for integration tests. If CPD is configured before the integration tests are introduced, for reasons I don't understand CPD also scans the integration test sources.

[2020-07-14 15:40] aaschmid commented on #50
Sounds like a lazy initialization stuff. Thanks for reproducer, I will have a look at it.

[2020-07-14 15:46] aaschmid commented on #51
Thanks for the large description @realdadfish. Hm ... seems like an issue with the `kotlin` tokenizer as it is not aware of `ignoreAnnotations` setting if you look into https://github.com/pmd/pmd/blob/master/pmd-kotlin/src/main/java/net/sourceforge/pmd/cpd/KotlinTokenizer.java. For comparison the java tokenizer uses it: https://github.com/pmd/pmd/blob/master/pmd-java/src/main/java/net/sourceforge/

[2020-07-14 16:15] realdadfish commented on #51
That's bad luck then :(

[2020-07-14 17:46] aaschmid commented on #51
Maybe but also maybe an issue on the `pmd` repo will get it implemented ...

I will close it as it also already documented in https://github.com/aaschmid/gradle-cpd-plugin#options. Don't hesitate to reopen it.

[2020-07-14 17:46] #51 closed

[2020-07-15 10:56] realdadfish opened #52 "NPE during CPD execution"
We got an NPE recently during CPD execution. Seems as if something in the internals of CPD throws an NPE. Looking at other bugs on the internet with the same signature, there doesn't seem to be a lot one can do about it.

Have you seen this elsewhere already?

[code]

[2020-07-18 19:14] aaschmid commented on #50
Very, very strange ...

1. Can reproduce it using your reproducer
1. Wrote an acceptance test, see https://github.com/aaschmid/gradle-cpd-plugin/blob/%2350.text.fixture/src/integTest/groovy/de/aaschmid/gradle/plugins/cpd/test/CpdAcceptanceTest.groovy#L662-L705. Unfortunately, it is working :-( and playing around hasn't helped me understand it
1. Added some `println`s to your reproducer for the sub

[2020-07-18 21:35] aaschmid commented on #52
I would need more information @realdadfish in order to offer more insights. Your exception is thrown by PMD / CPD internals while creating a language see [here](https://github.com/aaschmid/gradle-cpd-plugin/blob/master/src/main/java/de/aaschmid/gradle/plugins/cpd/internal/worker/CpdAction.java#L100). Following the code there uses a `ServiceLoader` but the default PMD version does not fit to your s

[2020-07-18 21:38] aaschmid commented on #52
I assume it is related with #51 but there it worked, right? So what's the difference?

[2020-07-18 21:51] realdadfish commented on #52
6.25.0

3.1, yes.

Yes, it works quite well.

I have a custom plugin written for that. I've posted the code for that here: https://gist.github.com/realdadfish/52e6d79ffaf913ab6a87b1a321727a47

No, unfortunately not, it's closed source. The thing is, it never popped up for me on local tests, only once or twice on CI. My hope was that you'd eventually recognize the stacktrace and could pin-point me

[2020-07-18 21:54] realdadfish commented on #52
No, its actually not related with #51, as I've figured I should have just RTFM to see that this is not supported :) This is a different issue. I'll monitor the setup in the next couple of days, if it was just a glitch in the matrix (TM) and I cannot give you any more detail, feel free to close this issue again.

[2020-07-18 22:06] aaschmid commented on #52
I don't recognize this stacktrace, sorry. Though, I have some ideas now as I have the correct version of PMD you are using:

* `Caused by: java.lang.NullPointerException: Inflater has been closed` seems as a closed stream of anything should be processed
* Looking into [`LanguageFactory.java:39`](https://github.com/pmd/pmd/blob/pmd_releases/6.25.0/pmd-core/src/main/java/net/sourceforge/pmd/cpd/Lang

[2020-07-19 09:09] C-Otto commented on #50
It looks like your IT adds a file with duplications to `src/main/java`? That doesn't look right to me.

Anyway, for me I think the hotfix using `evaluationDependsOnChildren()` might also help here (see linked Gradle issue).
A long-term (non-hacked) solution would be nice to have :) Thanks for the effort!

Running CPD on the whole project would be possible. This doesn't match the existing Maven con

[2020-07-19 12:51] aaschmid commented on #50
Yes this was for my test that neither `test` nor `testFixtures` are included into `source` and therefore check for duplicates.

`evaluationDependsOnChildren` seems like a fix, right ;-)

That is a know limitation if the `rootProject` has no `lifecycle` plugin applied (normally implicit via other plugin). The solution is document on https://github.com/aaschmid/gradle-cpd-plugin#multi-module-project

[2020-07-19 13:11] C-Otto commented on #50
Thanks for the snippets, I'll try them out tomorrow. I agree, a bit more documentation wouldn't hurt, especially related to the warning I posted earlier (I've seen it several times when I tried to get the plugin to work with subprojects).

The additional options also seem useful!

[2020-07-20 07:17] realdadfish commented on #52
All of that can obviously happen for matter or worse, but for now if you have no other sights of this, I'd close this issue and come back to you if I have more information. I think speculation won't bring us further :) - thanks for your time!

[2020-07-20 07:17] #52 closed

[2020-07-20 09:58] C-Otto commented on #50
I'm unable to create a configuration that combines the scan for all subprojects, as described in your response above. I'm using this snippet for all variants described below:
[code]

With this I get a single `cpdCheck` task, but it finds duplicates in `subproject/src/integrationTest`:
[code]

With this I get the same (duplication in `integrationTest`):
[code]

Finally, I get
[code]
for
[code]

[2020-07-21 09:58] C-Otto opened #53 "Warnings for other subprojects when building just one subproject"
When building a single subproject `./gradlew aaa:build` I get the following warning for each subproject, aside from the one I'm building. I expect to only receive warnings related to subproject `aaa`.

[code]

Some relevant parts of my build.gradle (in root project):
[code]

[2020-07-27 18:32] aaschmid commented on #50
Hm ... I think is still caused by the lazy evalutation logic even if you are using the `evalationDependsOnChildren()`. Would you mind to adjust your reproducer above? I have not that much time at the moment but would try to fix it if it is urgent to you...

Last exception is also ackward

[2020-07-27 19:08] aaschmid commented on #53
The error is logged in `CpdPlugin` [here](https://github.com/aaschmid/gradle-cpd-plugin/blob/master/src/main/java/de/aaschmid/gradle/plugins/cpd/CpdPlugin.java#L145-L152) and the problem is that I check if the `cpdCheck` task is on the task graph for **every** project on which `cpd` plugin is applied ...

So I need to change this check. The question is how as I can always think of situations where

[2020-07-28 22:44] C-Otto commented on #50
Sorry, I'm confused about the current state. Let's ignore the "global scan", i.e. using CPD to find duplicates between subprojects.

My understanding:
This is a bug in your code, where my explicit configuration is overwritten due to lazy initalisation. The configuration order plays a crucial role here, which is why `evaluationDependsOnChildren()` works around this issue. Despite my assumptions, th

[2020-07-28 22:46] C-Otto commented on #53
In my understanding you want to log a helpful message to tell the user about a configuration issue (missing `dependsOn`?). If this is correct, I suggest to just drop this altogether. Instead, provide some documentation/examples, and maybe add a few examples that can be used to test the plugin.

[2020-08-28 15:20] grushler commented on #39
Would it possible to provide an example using Gradle groovy DSL?

[2020-08-29 09:33] aaschmid commented on #39
@grushler the one to one translation of example above would be

[code]

Disclaimer: not tested with a Kotlin project actually but don't hesitate to complain if it does not ;-)

Note: The `rootProject` need to be adjusted if your copy-paste-detection should be applied to a different project.

[2020-08-31 05:24] grushler commented on #39
Thank you @aaschmid . I tested the provided code, but get below error (added with stacktrace) -

[code]

So I changed the exclude code and tried again - `exclude { file("**/*.java") }`
But I get the output as `> Task :cpdKotlin NO-SOURCE`. Any changes that you would suggest?

[2020-08-31 19:03] aaschmid commented on #39
@grushler
Hm ... actually I need a real reproducer in order to investigate. For now maybe you could add some `print` of `ss`, `ss.allJava` and `it` as well as `cpdKotlin.source` and check the folders for their path and content. Note: For printing you may also need to use `...files` in order to displaying a readable version...

Another working way should be:
[code]
It's a bit ugly because it hard-c

[2020-09-01 08:15] grushler commented on #39
Thanks @aaschmid. That helps though there is a hardcoded path but seems to be ok to use as we usually never change the path. I will try out printing the source and verify if the location is being picked up as needed.

[2020-09-19 12:00] aaschmid commented on #50
@C-Otto: sorry for the inactivity on this issue but my spare is quite limited at the moment and I honestly higher prioritize other things.

I deeply need to think about the lazy initialization here but still not sure if this is really a bug...

[2020-09-19 12:01] aaschmid commented on #49
Bow clear @dtbwije? Can we close this?

[2020-09-19 12:05] aaschmid commented on #39
@JLLeitschuh any further thoughts on this?

[2020-09-21 07:27] C-Otto commented on #50
As long as CPD does not stick to the configuration, I'd like to think it's a bug. This could be a bug in the code that reads and applies the configuration, or something in the documentation. Either way, it does not work, and I have no way of making it work.

[2020-09-21 08:34] aaschmid commented on #50
I will try to figure out a solution as soon as possible using your reproducer from above. However, you mentioned `integrationTest` source sets above. Is this use case already part of the reproducer or could you kindly add it?

[2020-09-21 11:34] C-Otto commented on #50
I believe the issue is related to the existence of several source sets, and the name/purpose of these is not relevant. The reproducer contains two commits, where the initial commit exposes the bug with integration tests.

[2020-09-21 15:46] JLLeitschuh commented on #39
@aaschmid sorry, this is no longer a project I'm actively using. I've left the company I was working for that was using it.

[2020-09-21 16:03] aaschmid commented on #39
Ok, so I will close this but anyone can reopen as soon as this is an issue anymore...

[2020-09-21 16:03] #39 closed

[2020-11-26 18:02] C-Otto opened #54 "Fix configuration cache issues"
The new incubating feature "configuration cache" seems to be incompatible with the plugin:

[code]

https://docs.gradle.org/6.8-rc-1/userguide/configuration_cache.html

Stacktrace snippet:
[code]

[2020-11-26 20:57] aaschmid commented on #54
Thanks for this incompatibility report @C-Otto. I think the solution is making the `encoding` property a `Property`. Using `3.2-SNAPSHOT` on https://oss.sonatype.org/content/repositories/snapshots/ works for my other builds. You can use `id("de.aaschmid.cpd") version "3.2-SNAPSHOT"` by enhancing the `settings.xml` with
[code]
Would be helpful if you could try it :-)

[2020-11-26 21:06] C-Otto commented on #54
Yeah, that works:

[code]

Thanks!

[2020-11-26 21:07] C-Otto commented on #54
That works with the `help` command above, but fails with "clean build":

`> Task 'cpdCheck' requires 'minimumTokenCount' to be greater than zero.`

Feel free to give it a try in my playground: https://github.com/C-Otto/playground/

I had to edit `buildSrc/build.gradle` (adding the snapshots repository).

[2020-11-26 21:40] aaschmid commented on #54
Do you also have another change unknown to me as "work on my machine"(TM)...
(But I at least saw a deprecation warning which I will also fix)

BTW as I accidentally saw "architecture-tests": Do you know https://www.archunit.org/ (open sourcen and build by the company I work for. Also on https://www.thoughtworks.com/radar/tools/archunit ;-))

[2020-11-27 08:36] C-Otto commented on #54
I open issues as soon as I see the need :)

I know about ArchUnit, have used it in projects - it's a great tool! It's on my TODO list, I want to use it in the playground project.

[2020-11-27 12:13] aaschmid commented on #54
Is your `> Task 'cpdCheck' requires 'minimumTokenCount' to be greater than zero.` error resolved / explainable? I still cannot reproduce it...

[2020-11-27 16:31] C-Otto commented on #54
Yes, I still see that issue. Reproducible with `./gradlew --configuration-cache --no-build-cache clean build`.

[2020-11-27 19:20] aaschmid commented on #54
On `main` branch, I don't have the issue with neither of your commands above :-(

I have the following changes:
[code]

[2020-11-28 14:23] C-Otto commented on #54
I had to run the `./gradlew --configuration-cache --no-build-cache cpdCheck` twice to see the error. The diff is identical to yours.

[2021-03-02 11:57] stealthrabbi opened #55 "Can't find deprecation logger"
I am trying to add this plugin and it's not working. I'm on gradle wrapper 6.82.2, and PMD tools 6.30.0.

`    id 'de.aaschmid.cpd' version '2.0'`

$ ./gradlew build

FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':check'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output

[2021-03-02 11:58] stealthrabbi commented on #55
* Exception is:
org.gradle.api.internal.tasks.TaskDependencyResolveException: Could not determine the dependencies of task ':check'.
        at org.gradle.api.internal.tasks.CachingTaskDependencyResolveContext.getDependencies(CachingTaskDependencyResolveContext.java:71)
        at org.gradle.execution.plan.TaskDependencyResolver.resolveDependenciesFor(TaskDependencyResolver.java:46)
        at org

[2021-03-02 12:02] stealthrabbi commented on #55
I was using the v2.0 listed on the readme file. When I switched to  3.1 (latest), it worked.

[2021-03-02 12:02] #55 closed

[2021-03-16 08:24] C-Otto opened #56 "Declare system property usage (for Gradle 7 configuration cache)"
With Gradle 7 M3 and `--configuration-cache` I get an error that the CPD plugin reads a system property that is not declared.

[code]

Possible fix: https://docs.gradle.org/7.0-milestone-3/userguide/configuration_cache.html#config_cache:requirements:undeclared_sys_prop_read

[2021-03-16 21:12] aaschmid commented on #56
hm ... actually thought that this is already fixed. However it seems not to.
Thanks for reporting @C-Otto. I will try to fix it asap for staying compatible with the next version.

[2021-03-27 09:17] aaschmid commented on #56
Duplicate of #54 ;-)

[2021-03-27 10:18] C-Otto commented on #56
Oh sorry, I forgot about the other issue... is there anything I can do now?

[2021-03-27 10:25] C-Otto commented on #54
As reported on November 28, building the second time triggers a failure. Reproduced with Gradle 7.0 RC1, Java 16, CPD 3.2-SNAPSHOT.

[2021-03-27 10:27] aaschmid commented on #56
No, I thing I got the remaining problem about this and will fix it by default encoding to `UTF-8`

[2021-03-27 10:29] C-Otto commented on #54
To reproduce:
` git clone https://github.com/C-Otto/playground && cd playground && git checkout gradle-cpd-plugin-54 && ./gradlew --configuration-cache --no-build-cache clean build && ./gradlew --configuration-cache --no-build-cache clean build`

[code]

[2021-03-27 10:30] aaschmid commented on #54
Yes, I have the same issue ;-)
And currently I am thinking about why the properties value is not stored in the configuration cache ...

[2021-03-27 10:39] #56 closed

[2021-03-27 11:03] aaschmid commented on #54
Unfortunately, I don't see any easy fixes for this, rather I need to rewrite a good part of the properties / configuration stuff of the plugin :-(

[2021-03-27 13:39] aaschmid commented on #54
Another yet strange thing is that my test application works with bfe0311, however your project does now complain about a `minimumTokenCount` again. Most likely I need to change all the properties to `Property` :-(

[2021-03-27 17:22] aaschmid commented on #54
At least I found the problem with `minimumTokenCount`, see https://github.com/gradle/gradle/issues/16657

[2021-03-27 17:34] aaschmid commented on #54
Remaining problem is as far as I can see not resolvable by me while I am doing the same as Gradle internall does with the `pmd` or `checkstyle` plugin :-(
![grafik](https://user-images.githubusercontent.com/567653/112729129-ea770880-8f2a-11eb-906f-ea58e50d31b0.png)

[2021-03-27 17:54] aaschmid commented on #54
@C-Otto with the newest `3.2-SNAPSHOT` and `./gradlew --configuration-cache --no-build-cache --configuration-cache-problems=warn clean cpdCheck` it should work on the second run (at least it does on my machine once I ensured the `3.2-SNAPSHOT` is re-downloaded as described in https://stackoverflow.com/a/62085606.

However the warning from above is skipped and I still have no clue where it comes fr

[2021-03-27 18:05] C-Otto commented on #54
Thank you! For Google's sake, here's the warning as text:

[code]

From that page:

I don't know how that relates to the plugin, though.

[2021-03-27 18:50] aaschmid commented on #54
Unfortunately, I never directly relate to `Project`, however indirectly through the stack in the screenshot.

As far as I could analyse it, I inherit from `org.gradle.api.reporting.internal.TaskReportContainer` which inherited from ´org.gradle.api.reporting.internal.DefaultReportContainer` which has a field `enabled` of type `NamedDomainObjectSet` which is instantiated via `DefaultNamedDomainObjec

[2021-03-27 23:18] C-Otto commented on #54
Maybe this helps? https://github.com/gradle/gradle/pull/14628/files#diff-239c622f1af32f1bee008aa813579ded9fffeb072f25557cf8eb27801268c770
(got it as a suggestion in the Gradle slack)

[2021-03-28 07:34] aaschmid commented on #54
Thank you @C-Otto. To be honest I was professionally blinkered in a way that `project` was contained in a lambda configuring `report.getOutputLocation()` in the `CpdPlugin` which I indeed copied from `Gradle`s `PmdPlugin` however not from the latest version (facepalm).

[2021-03-28 08:57] aaschmid commented on #54
Merged to master, preparing for next release...

[2021-03-28 08:57] #54 closed

[2021-03-28 09:46] aaschmid commented on #54
FYI https://github.com/gradle/gradle/issues/13490

[2021-03-28 09:48] aaschmid commented on #49
Closing because of no response. Don't hesitate to reopen if required.

[2021-03-28 09:48] #49 closed

[2021-04-08 07:50] RameshbabuJaga opened #57 "Configuring CPDCheck as a seperate gradle file throwing below error"
* What went wrong:
Some problems were found with the configuration of task ':app:testCodeCpdCheck' (type 'Cpd').

My cpdcheck.gradle file like belo

                import de.aaschmid.gradle.plugins.cpd.Cpd

                apply plugin: "de.aaschmid.cpd"

                buildscript {
                    repositories {
                        maven {
                            url "https://plugi

[2021-04-08 08:51] aaschmid commented on #57
Which `gradle-cpd-plugin` version do you use @RameshbabuJaga?

[2021-04-08 09:02] RameshbabuJaga commented on #57
@aaschmid am using gradle-cpd-plugin:3.2

[2021-04-08 09:04] RameshbabuJaga commented on #57
Basically, I want to configure the Source code and Test code with two different gradle files. So that I can manage duplicate codes based on the minimumTokenCount. For this, I am trying the above way.

[2021-04-08 09:09] aaschmid commented on #57
Ah ok, if you look at the documentation on https://github.com/aaschmid/gradle-cpd-plugin#supported-versions, the `v3.2` is no longer supported with Gradle `< 6.6`. Can your try to upgrade either Gradle or use `gradle-cpd-plugin:3.1`?

[2021-04-08 09:15] RameshbabuJaga commented on #57
@aaschmid  still same error

* What went wrong:
Some problems were found with the configuration of task ':app:testCodeCpdCheck' (type 'Cpd').

[2021-04-08 09:24] aaschmid commented on #57
What have you tried? Both, upgrade Gradle and downgrade `de.aaschmid.cpd`?

Unfortunately, I have no further ideas yet. Therefore, I need to deeper investigate into that. Any further information would appreciated as I could not easily reproduce it ...

[2021-04-08 09:27] RameshbabuJaga commented on #57
I have tried to upgrade Gradle and downgrade de.aaschmid.cpd few versions.

[2021-04-08 09:39] aaschmid commented on #57
Have you ever seen a working version or did you set it up from scratch?

[2021-04-08 09:45] RameshbabuJaga commented on #57
@aaschmid I have started this myself from the scratch. Actually, I want to take this CPD part out of the app build gradle file.
So I created cpdcheck.gradle file and pointed app build gradle like this

apply from: '../gradle-config/cpdcheck.gradle'
afterEvaluate {
        assembleDebug.dependsOn cpdCheck
    }

Everything fine here. When I run cpdCheck for source code it's working fine. Same way w

[2021-04-08 09:48] RameshbabuJaga commented on #57
@aaschmid basically any idea how to create two different configurations for the Source and Test codes. So that I can manage easily at the time of each build.

[2021-04-08 09:55] aaschmid commented on #57
Ah ok. It is working currently but no longer working after your refactoring, right?

Now I got it. You want to have two `Cpd` tasks. You can create multiple `cpd` tasks by
[code]
with `source` being once `subprojects*.sourceSets*.main*.java*.srcDirs` (prod code) and  once `subprojects*.sourceSets*.test*.java*.srcDirs` (test code)

(However, if you reuse the pre-configured `cpdCheck` task and confi

[2021-04-08 10:03] RameshbabuJaga commented on #57
@aaschmid Further I will look into it. But still, I have no idea from where that error popped up. As you saw that I have two different cpd checks with respect to the source. Still wondering about the error.

[2021-04-15 12:34] C-Otto commented on #53
This is creating lots of output when running gradle in continuous mode, to the point that I had to disable the plugin.

[2021-06-02 08:54] C-Otto opened #58 "Replace deprecated properties: Report.enabled, Report.destination"
When I build with Gradle 7.1 RC1 (with warnings) I get this:

[code]

[2021-06-02 09:14] C-Otto opened #59 "Replace deprecated properties: Report.enabled, Report.destination"
When I build with Gradle 7.1 RC1 (with warnings) I get this:

[code]

[2021-06-02 19:29] aaschmid commented on #59
Thanks for providing this issue. Version [`3.3-SNAPSHOT`](https://oss.sonatype.org/content/repositories/snapshots/de/aaschmid/cpd/de.aaschmid.cpd.gradle.plugin/3.3-SNAPSHOT/) on https://oss.sonatype.org/content/repositories/snapshots/ should fix it.

Disclaimer: haven't tested it myself besides the implemented test cases but can hopefully do this soon...

[2021-06-03 14:50] aaschmid commented on #59
My tests are successful.

[2021-06-03 14:52] #59 closed

[2021-06-03 14:53] C-Otto commented on #58
Duplicate of #59. GitHub threw strange errors when I filed this...

[2021-06-03 14:53] #58 closed

[2021-08-23 08:04] Lucas3oo commented on #53
+1 this bug is super annoying

[2021-09-07 18:13] aaschmid opened #61 "Remove legacy plugin named "cpd""

[2021-10-13 21:52] AndyHao11 opened #62 "Lexical error. Encountered: token recognition error at: '& '"
I got the following error when trying to execute cpdCheck

The line of code is
`if (((int) buf[i] & 0xff) < 0x10)`

Is there a way to either workaround or suppress the error?

[2021-12-11 21:57] aaschmid commented on #62
Any news on this @AndyHao11?

[2022-01-02 07:54] AndyHao11 commented on #62
@aaschmid  Sorry, a stupid mistake on my side. This is resolved. It turned out I was checking the wrong language.

[2022-01-02 09:11] aaschmid commented on #62
No worrries, therefore I will close this issue

[2022-01-02 09:11] #62 closed

[2022-01-02 09:13] aaschmid commented on #57
Any news on this @RameshbabuJaga ?

[2022-01-17 13:33] mjovanc opened #63 "Ignore two files that are duplicated by cpdCheck"
I'm trying to read through the documentation here and as well as on PMD but I don't seem to have the option to ignore two files that cpdCheck says are duplicates. They have some duplicated code, but the code is necessary and can't be avoided any other way.

How can I do make my two classes ignored with the error "Found a 30 line (103 tokens) duplication in the following files: "? is there a settin

[2022-01-18 10:00] aaschmid commented on #63
Best solution to this might be using annotation or comments, see https://pmd.github.io/pmd-6.13.0/pmd_userdocs_cpd.html#suppression.

If you need to exclude more code or e.g. all tests, you can exclude files either overriding the `source` property directly or providing an `include` or `exclude` as `Cpd` is actually a [SourceTask](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.SourceTask.

[2022-02-22 07:10] mustafa-antonio opened #64 "Gradle KTS integration"
Hello,

I couldn't find this issue here so I thought about writing new one. Is there a way to integrate this plugin with Gradle KTS syntax? `cpd` part was easy to set up but I don't know how to configure `cpdCheck` in Kotlin. Is this supported by this plugin or still in development? Some updated README would be nice.

Any kind of help or info is appreciated.

I'm using newest (3.3) version of this

[2022-02-22 08:04] aaschmid commented on #64
I am using it with KTS syntax in [junit-dataprovider](https://github.com/TNG/junit-dataprovider/blob/main/build.gradle.kts#L366-L379) myself:

[code]

[2022-02-23 08:00] mustafa-antonio commented on #64
Thank you, will let you know how this works once I'm back to configuring CPD again this week.

[2022-04-10 12:40] aaschmid commented on #63
@mjovanc has that helped or is it solved for you?

[2022-04-10 21:38] mjovanc commented on #63
@aaschmid it was solved by your answer. Sorry I forgot to answer you. Thanks a lot!

[2022-04-11 06:04] #63 closed

[2022-05-26 12:56] mustafa-antonio commented on #64
Sorry I've forgot to close this issue - thx for help!

[2022-05-26 12:56] #64 closed

[2022-11-03 18:04] mysticdrew opened #65 "unable to find cpdCheck in subProject."
I am in the process of updating our gradle from 3.5.1 to 7.5.1. I have run into this issue on our multimodule projects. Works fine on our single module projects.

Snipit from build.gradle
[code]
java-library.gradle
[code]

error

[2022-11-13 18:57] aaschmid commented on #65
Could you try something like `rootProject.cpdCheck`. The CPD plugin is only applied to the `rootProject` such that it looks like that Gradle does not find the `cpdCheck` task any more. I guess this is due to a change of the internal behavior of task resolution coming with version 7 - but I might to check the release notes 🙊.